.company_main{
	min-height: 500px;
}
.title_img{
	margin-top: 20px;
	margin-left: 20px;
}


/*text1*/
.text1{
	min-height: 600px;
	width:900px;
	margin-top: 20px;
	margin-left: 40px;
}
.text1_left{
	float:left;
	width:600px;
}
.text1_left_title{
	width:600px;
	font-size: 25px;
	font-weight: bold;
	font-family: "宋体";
	color:#000;
}
.text1_left_p{
	width:500px;
	color:#000;
	word-spacing: 5px;
	line-height: 20px;
}
.text1_right{
	float:right;
	width:300px;
	min-height: 600px;
}
.text1_right_img{
	margin-top: 100px;
	margin-left: -50px;
}
.text1_right_p{
	margin-left: -50px;
	width:300px;
	text-align: center;
	font-size: 16px;
	color:#000;
}

/*text2*/
.text2{
	margin-top: 40px;
	margin-left: 40px;
	min-height:350px;
	width:810px;
	padding-top: 14px;
	border:3px #fff solid;
	border-top: none;
	box-shadow: 0px 0px 10px 0px #666;
	background: url(../../image/company/text2_border_top.jpg) 0 0 no-repeat;
	background-color: #fff;
}
.text2_title{
	margin-left: 20px;
	font-family: "微软雅黑";
	color:#000;
	height:50px;
	line-height: 40px;
	width:700px;
	font-size: 30px;
	border-bottom: 1px #666 solid;
}
.text2_left{
	float:left;
	min-height:200px;
	width:480px;
	margin-left: 30px;
	margin-top: 10px;
}
.text2_li{
	min-height: 30px;
	line-height: 30px;
}
.text2_li_left{
	font-weight: 600;
	display:inline-block;
	width:100px;
}
.text2_li_right{
	margin-left: 50px;
}
.text2_right_img{
	float:right;
}

